# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.metadata
.settings/

# NetBeans
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Plugin specific
lib/